body {
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  color: white;
}

.App-header {
  /*background-color: #282c34;*/
  background-color: #330044;
  min-height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
}

.App-content {
  text-align: center;
  font-size: calc(8px + 1vmin);
  min-height: 65%;
  padding-bottom: 128px;
}

.Item-form {
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  border: solid white 1vmax;
  border-radius: 15px;
  width: 60%;
  max-width: 35vw;
  font-size: 22px;
  font-weight: bold;
}

.Activity {
  color: yellow;
}

li {
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-right: 33%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  border: solid orange 0.5vmax;
  border-radius: 15px;
  max-width: 30vw;
  text-align: left;
  font-size: 20px;
}

button {
  height: 36px;
  width: 72px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}
